{% stopwatch 'data table' %}

{# dataTableView - is required #}
{# tableClass - allows setting a custom class for the table #}
{% set dataTable = dataTableView.dataTable %}
{% set columns = dataTableView.columns %}
{% set rows = dataTableView.rows %}

<div class="data-table data-table-{{ dataTable.name }}">
    {% set offsetStart = dataTableView.pager.currentPageOffsetStart %}
    {% set offsetEnd = dataTableView.pager.currentPageOffsetEnd %}
    {% set numberResults = dataTableView.pager.nbResults %}

    {% block before_head %}{% endblock before_head %}

    <div class="row data-table-overhead">
        <div class="col-sm-4 data-table-search">
            <div class="form-group">
                {%- block table_search -%}
                    {%- if dataTableView.form is not null -%}
                        {{ form(dataTableView.form) }}
                    {%- endif -%}
                {%- endblock -%}
            </div>
        </div>
        <div class="col-sm-4 data-table-results">
            <div class="form-group">
                {%- block table_results -%}
                    {% block entry_name %}Ergebnisse{% endblock %} {{ offsetStart }} - {{ offsetEnd }} von {{ numberResults }}
                {%- endblock -%}
            </div>
        </div>
        <div class="col-sm-4 data-table-actions text-right">
            <div class="form-group">
                {%- block table_actions %}{% endblock -%}
            </div>
        </div>
    </div>

    {% block before_table %}{% endblock before_table %}

    <div class="table-responsive">
        <table class="{{ tableClass|default('table table-striped table-hover') }}" {{ block('table_attr') }}>
            {%- block thead -%}
                <thead>
                    {%- block thead_tr -%}
                        <tr {{ block('table_thead_tr_attr') }}>
                            {%- block thead_tr_inner -%}
                                {%- for column in columns -%}
                                    {%- set sortingIndex = dataTableView.getColumnSortingIndex(column) -%}
                                    {%- set hasSortings = column.hasSortings -%}
                                    {%- set columnName = column.name -%}
                                    {%- set columnClass = column.className -%}

                                    <th class="column-{{ columnName }} {{ columnClass }}
                                        {%- if sortingIndex is not null %} sorting-{{ sortingIndex }}{% endif %}">
                                        {%- set th_content = column.label|default(block('thead_column_' ~ columnName)|default(columnName|humanize|trans)) -%}
                                        {%- if hasSortings -%}
                                            <a href="{{ dataTableView.generateColumnUrl(column) }}">
                                                {{- th_content -}}
                                            </a>
                                        {%- else -%}
                                            {{- th_content -}}
                                        {%- endif -%}
                                    </th>
                                {%- endfor -%}
                            {%- endblock thead_tr_inner -%}
                        </tr>
                    {%- endblock thead_tr -%}
                </thead>
            {%- endblock thead -%}

            {%- block tbody -%}
                <tbody>
                    {%- for row in rows -%}
                        {%- set data = row.data -%}
                        {%- block tbody_tr -%}
                            <tr {{ block('table_tr_attr') }}>
                                {%- block tbody_tr_inner -%}
                                    {%- for column in columns -%}
                                        {%- set sortingIndex = dataTableView.getColumnSortingIndex(column) -%}
                                        {%- set hasSortings = column.hasSortings -%}
                                        {%- set columnName = column.name -%}
                                        {%- set value = row.getColumnValue(column) -%}
                                        {%- set type = row.getColumnType(column) -%}
                                        {%- set template = column.getTemplate(value) -%}
                                        {%- set link = dataTableView.getLink(row, column) -%}
                                        {%- set columnClass = column.className -%}

                                        <td class="column-{{ columnName }} column-type-{{ type }} {{ columnClass }}
                                            {%- if sortingIndex is not null %} sorting-{{ sortingIndex }}{% endif %}">

                                            {%- set defaultRender -%}
                                                {%- block default_render -%}
                                                    {%- if link is not null and column.linkWrap -%}
                                                        <a href="{{ link }}">
                                                            {%- include template -%}
                                                        </a>
                                                    {%- else -%}
                                                        {%- include template -%}
                                                    {%- endif -%}
                                                {%- endblock -%}
                                            {%- endset -%}

                                            {{- block('tbody_column_' ~ column.name)|default( defaultRender )|raw -}}
                                        </td>
                                    {%- endfor -%}
                                {%- endblock tbody_tr_inner -%}
                            </tr>
                        {%- endblock tbody_tr -%}

                    {%- endfor -%}
                </tbody>
            {%- endblock tbody -%}
        </table>
    </div>
    {% set pager = dataTableView.createPagerView() %}
    {% if pager is not empty %}
        <div class="data-table-pager">
            {% block table_pager %}
                {{ pager|raw }}
            {% endblock %}
        </div>
    {% endif %}
</div>
{% endstopwatch %}